<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eptura.cap.pdfviewer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".PDFActivity"
            android:exported="false"
            android:label="@string/title_activity_pdfactivity"
            android:theme="@style/Theme.Android.NoActionBar" />
    </application>

</manifest>